<!DOCTYPE html>
</html>



  <body>

    <h1><stong>Stupid Coatching</strong></h1>
    <div class="container">
    <p><%= @question %></p>
    <p><en>- You </en></p>
    </div>
    <div class="container_answer">
    <p><%= @answer %></p>
    <p><en>- Your coatch </en></p>
    </div>
    <a href="/ask">Ask a new question</a>

  </body>
</html>




